html {
    font-size: 20px;
}
.skyblue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203);
}
#parent {
    text-align: center;
    font-family: "arial","meiryo",sens-serif;
}
#parent > p {
    font-weight: bold;
}
#first {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-bottom: solid 3px rgb(115,115,115);
    font-size: 2em;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px red ;
}